* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template: auto 300px 100px / 1fr 250px;
}

h1, main, aside, footer {
    padding: 20px;
}

header {
    grid-column: 1/4;;
    background: #4a4949;
}

header h1 {
    height: 75px;
    font-size: 32px;
}
nav {
    background: #171717;
    padding: 10px 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    flex: 1;
    text-align: center;
    list-style: none;
}

a {
    width: 100%;
    display: contents;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

main {
    grid-column: 1/2;
    background-color: #a1a1a1;
    color: #575757;
}

aside {
    grid-column: 2/3;
    background-color: #f7f7f7;
    color: #969696;
}

footer {
    grid-column: 1/3;
    background: #4a4949;
    color: #ffffff;
    text-align: center;
}