* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    display: grid;
    grid-template-areas: auto auto auto/ auto auto auto auto;
}
header {
    grid-column: 1/5;
    background-color: rgb(71, 71, 73);
    color: #eee;
}
header h1 {
    margin: 1rem;
    font-size: medium;
    font-weight: 700;
}

main, aside {
    height: 400px;
    padding: 1rem;
}
main {
    grid-column: 1/4;
    background-color: rgb(232, 229, 229);
}
aside {
    grid-column: 4/5;
    background-color: rgb(251, 251, 251);
}
footer {
    grid-column: 1/5;
    height: 10rem;
    padding: 1rem;
    background-color: rgb(71, 71, 73);
    color: #eee;
    text-align: center;
}