
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 980px;
    display: grid;
    grid-template: auto 300px 100px;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}

header h1, main h3, footer {
    background: #204251;
    color:aliceblue;
    text-align: center;
}

header h1 {
    padding: 16px;
    font-size: 18px;
    font-weight: lighter;
}

nav {
    background: #2d2e30;
    padding: 10px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    flex: 1;
    text-align: center;
    list-style: none;
}

nav a {
    width: 100%;
    display: contents;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

main {
    display: grid;
    grid-template: auto auto/ 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px 50px;
}

h2 {
    padding: 10px;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 32px;
    font-weight: lighter;
}

h3 {
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
}

main p {
    font-size: 14px;
    line-height: 1.5;
}

.left-section {
    height: 400px;
    border-radius: 10px 10px;
    border: #2d2e30 2px solid;
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template: 40px 130px / 1fr 1fr 150px;
}

.left-section h3 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.about-me {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
    padding: 10px;
}

.left-section .me-image {
    grid-column: 3/4;
    grid-row: 2/4;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    padding: 10px;
}

.me-image img {
    display: flex;
    width: 120px;
}

.my-place {
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr;
}

h4 {
    margin: 0 30px;
    top: -10px;
    height: 25px;
    border-bottom: #2d2e30 2px solid;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

figure {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    width: 200px;
    padding: 10px;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

.my-place-desc {
    padding: 10px;
    grid-column: 2/4;
    grid-row: 2/3;
}

.right-section {
    border-radius: 10px 10px;
    border: #2d2e30 2px solid;
    grid-column: 3/4;
    grid-row: 2/3;
    height: 400px;
}

.right-section ul {
    padding-left: 30px;
    align-items: end;
    margin: 200px 10px;
}

footer {
    padding: 20px;
}
.yellow {
    color: yellow;
}