* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 100%;
}

header, footer {
    text-align: center;
    background-color: rgb(18, 8, 8);
    color: aliceblue;
    padding: 2rem 0;
}

form {
    padding: 1.5rem;
    width: 100%;
    border-radius: .4rem;
    background-color: aliceblue;
    box-shadow: .3rem .3rem .3rem .3rem rgb(58, 41, 15);
}

label, p {
    font-size: .9rem;
}

select,
input[type="date"], 
textarea,
input[type="text"],
input[type="submit"]
{
    border-radius: .5rem;
    font-size: .9rem;
    padding: .5rem;
    width: 100%;
    background-color: rgba(203, 187, 187, 0.312);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.product, .rating, .date, .features, .review, .name, input[type="submit"]{
    display: block;
    margin-top: 1.2rem;
}

.radio-div {
    display: flex;
    justify-content:space-between;
}
.radio-div label {
    text-align: center;
}
.radio-div input[type="radio"] {
    display: block;
}

.checkbox label{
    display: block;
    margin: .5rem 1rem;
}

.bold {
    font-weight: bold;
}
#header h1{
    margin: 1rem auto;
    font-size: 1rem;
}
.thankyou {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
    border: 1px red dashed;
}
.thankyou p {
    margin: 1rem 0;
}

.thankyou ul li {
    margin-left: 1rem;
}




@media only screen and (min-width: 40em) {
    header, main, footer {
        margin: 0 auto;
        width: 40em;
    }
    form {
        margin: 1rem auto;
        width: 24rem;
    }
    #header h1{
    margin: 1rem auto;
    font-size: 1.7rem;
}
}