* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px gray solid;
    padding: 1rem;
    background-color: rgb(51, 51, 212);
    color: aliceblue;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
}

section {
    padding: 10px;
    background-color: azure;
    color: rgb(30, 27, 27);
}